<section class="footer footer_scroll">
    <div class="container">
        <div class="footer__items">
            <div class="footer__item">
                <h3 class="footer__item_title"></h3>
                <a href="#" class="logo footer__logo">
                    <span class="logo__text">Zara-Stroy</span>
                </a>
                <div class="footer__documents documents-info">
                    <div class="documents-info__item">ИП Зараев Э.Р.</div>
                    <div class="documents-info__item">ОГРН  320081600009514</div>
                    <div class="documents-info__item">ИНН 081405566421</div>
                </div>
            </div>
            <div class="footer__item">
                <h3 class="footer__item_title"></h3>
                <nav class="footer__nav nav">
                    <ul class="list-reset footer__nav-list nav__list">
                        <li class="nav__item"><a data-goto=".tabs_scroll" href="#" class="nav__link">Тарифы</a></li>
                        <li class="nav__item"><a data-goto=".about_scroll" href="#" class="nav__link">О нас</a></li>
                        <li class="nav__item"><a data-goto=".tabs-slider_scroll" href="#" class="nav__link">Примеры работ</a></li>
                        <li class="nav__item"><a data-goto=".after_scroll" href="#" class="nav__link">До / После</a></li>
                        <li class="nav__item"><a data-goto=".tabs-slider_scroll" href="#" class="nav__link">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer__item">
                <h3 class="footer__item_title"></h3>
                <div class="footer-contacts footer-contacts--nav">
                    <a href="tel:79613998080" class="footer-contacts__link contacts-link contacts-link--call">
                      <span class="contacts-link__caption">Позвоните нам</span>
                      <span class="contacts-link__value">+7 961 399 80 80</span>
                    </a>
                    <a href="mailto:eduardzaraev@gmail.com" class="footer-contacts__link contacts-link contacts-link--mail">
                      <span class="contacts-link__caption">Напишите нам</span>
                      <span class="contacts-link__value">eduardzaraev@gmail.com</span>
                    </a>
                  </div>
            </div>
        </div>
        <div class="footer__copy">
            <p class="footer__copy-text">@ 2022 Zara-Stroy.ru Все права защищены</p>
            <p class="footer__copy-text">Сайт не является публичной офертой и носит информационный характер.
                Заполняя любую форму на данном сайте Я даю согласие на обработку персональных данных, согласен на получение информационных рассылок от Zara-Stroy.ru и соглашаюсь c политикой конфиденциальности.
            </p>
        </div>
    </div>
</section>